@font-face {
  font-family: "Montserrat";
  src: url(font/Montserrat-Regular.ttf);
}
@font-face {
  font-family: "Montserrat-bold";
  src: url(font/Montserrat-Bold.ttf);
}
body {
  margin: 0;
  padding: 0;
  background-color: #ccc;
}
.nav ul {
  font-family: "Montserrat";
  font-size: 4vh;
  list-style: none;
  background-color: rgb(29, 0, 133);
  text-align: center;
  padding: 0;
  margin: 2vw;

  border-radius: 300px;
}
.nav li {
  display: inline-block;
}
.nav a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 1.4vw;
}
.nav a:hover {
  background: rgb(255, 60, 0);
  transition: 0.4s;
  border-radius: 100px;
}
.logo {
  position: absolute;
  right: 160vh;
  top: 4vh;
  margin-top: 0;

  width: 10vh;
  height: 10vh;
}
