@font-face {
  font-family: "Montserrat";
  src: url(font/Montserrat-Regular.ttf);
}
@font-face {
  font-family: "Montserrat-bold";
  src: url(font/Montserrat-Bold.ttf);
}
body {
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
  background-color: #ccc;
}

.nav ul {
  font-family: "Montserrat";
  font-size: 4vh;
  list-style: none;
  background-color: rgb(0, 0, 0);
  text-align: center;
}
.nav li {
  display: inline-block;
}
.nav a {
  text-decoration: none;
  color: rgb(170, 238, 81);
  display: block;
  padding: 1.4vw;
}
.nav a:hover {
  background: rgb(95, 95, 95);
  transition: 0.4s;
}
.Ohranicenii {
  border-color: black;
  border-width: 15%;
}
h1 {
  font-family: "Montserrat-bold";
}

div {
  font-size: 2.5vh;
}
.video {
  width: 75vh;
  height: 45vh;
  border-radius: 7vh;

  padding: 1vh;
}

.vid {
  border-radius: 7vh;
  background-color: rgb(170, 238, 81);
}
.grafrez {
  width: 55%;
  height: 50%;
  border-radius: 7vh;
  background-color: rgb(170, 238, 81);
}
#mode-toggle {
  position: absolute;
  margin-top: 2.5vh;
  width: 40px;
  cursor: pointer;
}

.dark-mode {
  background-color: rgba(3, 3, 3, 0.952);
  color: rgb(170, 238, 81);
}
